<article id="search-results">
	<ul class="places-list">
		<% @plan.each do |place| %>
			<li class="place-preview">
				<a href="<%= place_path(place) %>">
					<img src="<%= place.photo %>" alt="">
					<h2><%= place.name %></h2>
				</a>
			</li>
		<% end %>
	</ul>
</article>
<!--<div id="map" style="position: fixed; bottom: 0;"></div>

<script>
	$(document).ready(function(){
		var map;
		navigator.geolocation.getCurrentPosition(getMap);
	});
	function getMap(e){
		var lon = e.coords.longitude;
		var lat = e.coords.latitude;
		//map styles
		var element = '#map';
		var hei = window.innerHeight - 64;
		var wid = window.innerWidth;
		$(element).css('width', wid+'px').css('height', hei+'px');

		//creating the map
		map = new GMaps({el: '#map', lat: lat, lng: lon, zoom: 16, width: wid, height: hei });

		//user marker
		var icon = 'http://pinkkittyrose.com/forums/images/smilies/64_pokeball.png';
		var animation = google.maps.Animation.BOUNCE;
		map.addMarker({ lat: lat, lng: lon, title: 'YOU', icon: icon, animation: animation });	


	}
</script>
