




/*------------------------------------*\
    $HEADER
\*------------------------------------*/
$navbar-height: 4em;

.nav--top{
	background: $basecolor;
	position: fixed;
	top: 0;
	width: 100%;
	height: $navbar-height;
}
.navbar-list{
	display: block;
	position: absolute;
	width: 80%;
	top: $navbar-height;
	left: -80%;
	vertical-align: middle;
	color: white;
	background: $basecolor;
	margin-bottom: 0;
	transition: 500ms;
  padding-left: 0;
}
.nav--top_list li {
  background: $white;
  border-top: .1em solid $lightergrey;
  border-bottom: .1em solid $lightergrey;
  border-right: .1em solid $lightergrey;
  &:focus {
    background-color: $bclighter;
  }
}

.link--top {
  display: block;
  color: $darkergrey;
	padding: 8px 24px;
  width: 100%;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.btn--burguer{
	margin: 10px;
}
//******************* SHOULD BE INCLUDED IN THE FRAMEWORK
.lightbox{
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100vh;
	transition: 500ms;
	background-color: black;
}

.js-toogle-menu{
	left:0
}
.js-lightbox--active{
	opacity: .4;
	z-index: 5
}
.js-over-lightbox--active{
	z-index: 10;
}
.js-block-scroll{
	overflow: hidden;
}
//*******************
.user-avatar{
	position: relative;
	display: inline-block;
	padding: .5em;
	float: right;
	padding-right: 2em;
	& img{
		height: 3em;
		width: 3em;
		border-radius: 50%;
	}
}
.badge{
	display: inline-block;
	background: $white;
	font-weight: bold;
	font-size: 16px;
	border-radius: 40%;
	position: absolute;
	top: 17px;
	left: 50px;
	& span{
		color: $basecolor;
		vertical-align: middle;
	}
}



