




/*------------------------------------*\
    $SITE
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
	background : $background;
	font-size : 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : transparent;
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : transparent;
	font-family : $basefont;
	@include font-size();
	line-height : $baselineheight;
	color : $textcolor;
}


/* NOW START YOUR SITE STYLE HERE, 
I GIVE YOU THE TOOLS, BUT THE DESIGN IT'S UP TO YOU */

/*------------------------------------*\
    $AWESOME
\*------------------------------------*/



/* HEADER  ================================================================== */
@import "organisms/header.scss";

/* FOOTER  ================================================================== */
@import "organisms/footer.scss";

body{
	height: initial;
}

.main-content{
	margin-top: $navbar-height;
	position: relative;
	padding: 5vh 5vw;
}

.btn--success_shadow {
	border-bottom: 2px solid darken($color-success, 20%);
	border-top: 2px solid lighten($color-success, 25%);
	border-radius: 6px;
	box-shadow: 2px 3px 6px rgba(0,0,0,.2);
	color: $white
}