// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input:not([type="submit"]), select{
	background: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
input:focus{
	border-bottom: 2px solid $basecolor;
}
#login-form{
	height: 40%;
	min-height: 180px;
}
#login-form-social{
	height: 60%;
	background: rgba(255,255,255,.3);
	.social-buttons{
		background: none;
	}
}

#form-register, #login-form, #edit-user-form{
	padding: 3vh 5vw 3vh;
	background: rgba(255,255,255,.3);
	& .register-input{
		margin-bottom: 2vh;
		& input[type="email"], input[type="password"]{
			color: $basecolor;
			text-align: center;
			height: 8vh;
			min-height: 35px;
			max-height: 55px;
			font-size: 1.4rem;
			text-indent: .5em;
			border-radius: 0;
			border-bottom: 1px solid darken($basecolor, 20%);
			&::-webkit-input-placeholder{
				font-size: 1.4rem;
				color: darken($basecolor, 20%);
			}
		}
	}
	& input[type="submit"]{
		background: rgba(255,255,255,.9);
		border-radius: 5px;
		box-shadow: 3px 4px 5px rgba(0,0,0,.4);
		color: darken($basecolor, 20%);
		font-size: 1.5rem;
		height: 5%;
		margin-top: .5em;
		width: 100%;
	}
}
.alert-register-error{
	width: 100%;
	& ul {
		margin-bottom: 0;
	}
}

#login-form, #edit-user-form{
	input[type="submit"]{
		width: 45%;
		float: right;
	}
}

.btn-cancel{
	width: 45%;
	float: left;
	font-size: 1.6rem;
	color: #333;
	height: 54px;
	margin-top: 12px;
  background-color: #fff;
	box-shadow: 2px 4px 5px rgba(0,0,0,.4);
	border-radius: 5px;
}
#edit-user-form .btn-cancel{
	margin-top: -1px;
}

/* REGISTER PAGE */
/* social login*/
#form-register{
	height: 50%;
	min-height: 220px;
}
.social-buttons{
	background: rgba(255,255,255,.3);
	height: 50%;
	padding: 1em 0;
	.divider{
		position: relative;
		hr{
			display: inline-block;
	    border: 0;
	    height:1px;
	    background: radial-gradient(darken($basecolor, 20%) 20%, transparent 75%);
			width: 25%;
			margin: 7px 0;	
		}
		span{
			color: darken($basecolor, 20%);
			display: inline-block;
			font-weight: bold;
			width: 50%;
			text-align: center;
			vertical-align: 2px;
		}
	}
	button{
		background: rgba(255,255,255,.9);
		border-radius: 5px;
		border: 1px solid rgba(0,0,0,.6);
		box-shadow: 3px 4px 5px rgba(0,0,0,.6);
		display: block;
		margin: 3vh 10%;
		outline: none;
		padding: .8em;
		position: relative;
		width: 80%;
		span.name{
			vertical-align: middle;
			font-size: 1.4em;
			margin-left: 1.5em;
		}
		span.fa{
			position: absolute;
			font-size: 2.5em;
			left: 1em;
			top: 10%;
		}
	}
	.fa-facebook-square{
		color: #3b5998;
	}
	.fa-twitter-square{
		color: #00aced;
	}
	.fa-google-plus-square{
		color: #dd4b39;
	}
}

.social-login {
	& #google-register, #facebook-register, #twitter-register{
		width: 100%;
		margin: 1.5em 0 0;
		padding: 1em;
	}	
}


/* PLACES FORM- filter forms */
#search-form{
	padding: 0 5vw;
}
.city-input-control, .type-input-control{
	width: 45%;
	text-align: center;
	& label {
		float: left;
		font-size: 18px;
	}
	& select {
		margin-bottom: 10px; 
	}
	& .help-inline{
		padding-right: 10px;
	}
}
.type-input-control{
	float: right;
}

/* PLACES LIST */
.places-content{
	padding-top: 1em;
}
.places-list{
	padding: 0 1.5em;
}

.place-preview{
	box-sizing: content-box;
	height: 70px;
	position: relative;
	border: 1px solid $lightgrey;
	margin: .5em 0;
	padding-right: 1em;
	background: white;
	box-shadow: 2px 3px 4px rgba(0,0,90,0.2);
	* {
		position: absolute;
	}
	img{
		height: 70px;
		width: 70px;
		display: inline-block;
		border-right: 1px solid $lightgrey;
		box-shadow: 1px 0 2px rgba(0,0,90,0.1);
	}
	h2{
		font-size: 1.1em;
		color: $darkgrey;
		top: 5px;
		left: 80px;
	}
}

/* PLACES form new */

#new-place-form{
	padding: 0 1em;
	& span.fa {
		font-size: 1.3em;
		padding: 0 .3em;
		vertical-align: middle;
	}
	& input, select {
		border-left: 0;
		border-top: 0;
		border-right: 0;
		margin-top: 1em;
		padding-right: .1em;
		display: inline-block;
		width: 80%;
		&:focus{
			border-bottom: 2px solid $basecolor;
		}
	}
	& select{
		vertical-align: 2px;
	}
	& input[type="submit"]{
		margin-top: 1em;
		width: 100%;
		display: block;
		color: white;
		font-size: 1.5em;
		border-radius: 5px;
		box-shadow: 2px 4px 4px rgba(0,0,0,.2);
	}
}
.place-basics{
	width: 100%;
	margin-bottom: 1.5em;
	& .place-name-group{
		display: inline-block;
		width: auto;
		& input {
			max-width: 150px;
		}
	}
	& .place-type-group{
		display: inline-block;
		width: auto;
		& select {
			max-width: 85px;
		}
	}
}
.place-geolocation-group{
	margin-top: 1em;
	& a {
		font-size: 1.4em;
		color: $basecolor;
		vertical-align: middle;
	}
}
.place-price-group{
	margin: 1.5em 0;
	text-align: left;	
	& input{
		max-width: 100px;
	}
	& select{
		max-width: 45px;
		margin-left: 10px;
	}
}

