/* PLACES FORM- filter forms */
#search-form{
	padding: 0 5vw;
}
.city-input-control, .type-input-control{
	width: 45%;
	text-align: center;
	& label {
		float: left;
		font-size: 18px;
	}
	& select {
		margin-bottom: 10px; 
	}
	& .help-inline{
		padding-right: 10px;
	}
}
.type-input-control{
	float: right;
}

/* PLACES LIST */
.places-list{
	padding-left: 0;
}

.place-preview{
	box-sizing: content-box;
	height: 70px;
	position: relative;
	border-bottom: 1px solid $lightgrey;
	&:first-child{
		border-top: 1px solid $lightgrey;
	}
	& img{
		height: 68px;
		width: 68px;
		margin: 1px;
		display: inline-block;
		margin-right: 1em;
	}
	& h2{
		display: inline-block;
		position: absolute;
		font-size: 1.2em;
		top: 5px;
		padding-right: 60px;
	}
}

/* PLACES form new */

#new-place-form{
	padding: 0 1em;
	& span.fa {
		font-size: 1.3em;
		padding: 0 .3em;
		vertical-align: middle;
	}
	& input, select {
		border-left: 0;
		border-top: 0;
		border-right: 0;
		margin-top: 1em;
		padding-right: .1em;
		display: inline-block;
		width: 80%;
		&:focus{
			border-bottom: 2px solid $basecolor;
		}
	}
	& select{
		vertical-align: 2px;
	}
	& input[type="submit"]{
		margin-top: 1em;
		width: 100%;
		display: block;
		color: white;
		font-size: 1.5em;
		border-radius: 5px;
		box-shadow: 2px 4px 4px rgba(0,0,0,.2);
	}
}
.place-basics{
	width: 100%;
	margin-bottom: 1.5em;
	& .place-name-group{
		display: inline-block;
		width: auto;
		& input {
			max-width: 150px;
		}
	}
	& .place-type-group{
		display: inline-block;
		width: auto;
		& select {
			max-width: 85px;
		}
	}
}
.place-geolocation-group{
	margin-top: 1em;
	& a {
		font-size: 1.4em;
		color: $basecolor;
		vertical-align: middle;
	}
}
.place-price-group{
	margin: 1.5em 0;
	text-align: left;	
	& input{
		max-width: 100px;
	}
	& select{
		max-width: 45px;
		margin-left: 10px;
	}
}

/* Geolocation button - view near */
.geobutton{
	position: absolute;
	z-index: 1;
	background: $basecolor;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	box-shadow: 3px 5px 4px rgba(0,0,0,.4);
	outline: none;
	font-size: 2em;
	color: white;
	bottom: 25px;
	right: 25px;
	border: 0;
	cursor: pointer;
}