// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form-register{
	padding: 3vh 5vw;
	& .register-input{
		margin-bottom: 3vh;
		& input[type="email"], input[type="password"]{
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			height: 50px;
			font-size: 1.6rem;
			text-indent: .75em;
			&::-webkit-input-placeholder{
				font-size: 1.6rem;
			}
		}
	}
	& input[type="submit"]{
		width: 100%;
		font-size: 1.6rem;
		color: $white;
		box-shadow: 2px 4px 5px rgba(0,0,0,.2);
		border-radius: 5px;
	}
}