// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form-register, #login-register{
	padding: 3vh 5vw 0;
	& .register-input{
		margin-bottom: 2vh;
		& input[type="email"], input[type="password"]{
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			height: 50px;
			font-size: 1.6rem;
			text-indent: .75em;
			&::-webkit-input-placeholder{
				font-size: 1.6rem;
			}
		}
	}
	& input[type="submit"]{
		width: 100%;
		font-size: 1.6rem;
		color: $white;
		box-shadow: 2px 4px 5px rgba(0,0,0,.2);
		border-radius: 5px;
	}
}
.alert-register-error{
	width: 100%;
	& ul {
		margin-bottom: 0;
	}
}

#login-register input[type="submit"]{
	width: 45%;
	float: right;
}

.btn-cancel{
	width: 45%;
	float: left;
	margin-top: -9px;
	font-size: 1.6rem;
	color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
	box-shadow: 2px 4px 5px rgba(0,0,0,.1);
	border-radius: 5px;
}
.social-login {
	& #google-register, #facebook-register, #twitter-register{
		width: 100%;
		margin: 1.5em 0 0;
		padding: 1em;
	}	
}