//only the suggests#index has this background
.suggest-index-bg{
	background-image: url('/images/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
}	
body{
	position: absolute;
	overflow-x: hidden;
	background: #EBEEF7;

}
.main-content{
	margin-top: $navbar-height;
	position: relative;
}
.title{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1em;
}

.btn--success_shadow {
	border-bottom: 2px solid darken($color-success, 20%);
	border-top: 2px solid lighten($color-success, 25%);
	border-radius: 6px;
	box-shadow: 2px 3px 6px rgba(0,0,0,.2);
	color: $white;
	&:hover{
		color: $white;
	}	
}
.js-fadeInRight{
	z-index: 1;
	background: white;
	position: absolute;
	width: 100%;
	left: 100%;
	top: 0;
	transition: 500ms;
}
.js-fadeInRight--active{
	left: 0;
}
