<section class="main-content">
	<h1>places index</h1>

	<%= select("place", "type_of_site", Place.pluck(:type_of_site).uniq ) %>

	<button class="js-geolocateme btn btn--success btn--success_shadow">Geolocate current city</button>
</section>
